h1{
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
h2.brushes{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
  padding: 15px;
}
h2.frames{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
  padding: 15px;
}
h2.paint{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
  padding: 15px;
}
h3{
  font-family: Helvetica;
}
span.price{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
p{
  font-family: Helvetica;
}
